
<div class="d1">Best Sellers</div>

<mat-grid-list cols="5" gutterSize="30px" rowHeight="2:1">
  <mat-grid-tile class="st"> Book 1</mat-grid-tile>
  <mat-grid-tile class="st">Book 2</mat-grid-tile>
  <mat-grid-tile class="st">Book 3</mat-grid-tile>
  <mat-grid-tile class="st">Book 4</mat-grid-tile>
</mat-grid-list>
<div class="d1"> Trending Books</div>
<mat-grid-list cols="5" gutterSize="30px" rowHeight="2:1">
  <mat-grid-tile class="st"> Book 1</mat-grid-tile>
  <mat-grid-tile class="st">Book 2</mat-grid-tile>
  <mat-grid-tile class="st">Book 3</mat-grid-tile>
  <mat-grid-tile class="st">Book 4</mat-grid-tile>
  <mat-grid-tile class="st">Book 5</mat-grid-tile>
  <mat-grid-tile class="st">Book 6</mat-grid-tile>
</mat-grid-list>
<div class="d1"> Latest Uploads</div>
<mat-grid-list cols="5" gutterSize="30px" rowHeight="2:1">
  <mat-grid-tile class="st">Book 1</mat-grid-tile>
  <mat-grid-tile class="st">Book 2</mat-grid-tile>
  <mat-grid-tile class="st">Book 3</mat-grid-tile>
  <mat-grid-tile class="st">Book 4</mat-grid-tile>
  <mat-grid-tile class="st">Book 5</mat-grid-tile>
</mat-grid-list>
<br><br><br><br><br><br><br>
